.cardContainer {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    min-height: 530px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .tagWrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
  
    &.recipe {
      background-color: #60c0b2; /* Grön bakgrund för recept */
    }
  
    &.article {
      background-color: #f0c14b; /* Gul bakgrund för artikel */
    }
  
    .tags {
      padding: 0.25rem 0.75rem;
      font-size: 0.75rem;
      font-weight: 600;
      color: #fff;
      border-radius: 10px;
    }
  
    span {
      padding: 0.25rem 0.75rem;
      font-size: 0.75rem;
      color: #333;
      font-weight: 600;
    }

    .sponsored{
      background-color: #e5b5ac;
      padding: 0.25rem 0.75rem;
      font-size: 0.75rem;
      font-weight: 600;
      color: #fff;
      border-radius: 10px;
    }
  }

  .imgWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;

  }


  
  .recipeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  
    h2 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      color: #222;
    }
  
    span {
      font-size: 0.9rem;
      color: #666;
    }
  }


